image: docker:latest

stages:
  - testing
  - release

variables:
  GITLABCI_VERSION:    "2.1"
  GITLABCI_IMAGE:      "gitlabci"
  CONTRIBUTOR_IMAGE:   "domjudge/domjudge-contributor"

# Docker Login steps
.release_template: &release_docker
  services:
    - docker:dind

.registry_template: &registry_gitlab
  <<: *release_docker
  stage: testing
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.registry_template: &registry_dockerhub
  <<: *release_docker
  stage: release
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN

.job_template: &job_check-pr
  stage: testing
  services:
    - docker:dind
  except:
    - master

.job_template: &ci_template
  script:
    - cd docker-gitlabci
    - >
      if [[ -z $DOCKER_HUB_USERNAME ]]; then
        BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE
      else
        BASE="domjudge/"$GITLABCI_IMAGE
      fi
    - sh ./build.sh $GITLABCI_VERSION $BASE
    - docker push $BASE:$GITLABCI_VERSION

pr-ci:
  <<: *registry_gitlab
  <<: *ci_template
  only:
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/*
  except:
    - master

release-ci:
  <<: *registry_dockerhub
  <<: *ci_template
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/*

check-pr-contributor:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build .

release-contributor:
  <<: *registry_gitlab
  only:
    refs:
      - master
    changes:
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build -t $CONTRIBUTOR_IMAGE
    - docker push $CONTRIBUTOR_IMAGE

release-DOMjudge:
  <<: *registry_dockerhub
  only:

    refs:
      - master
    changes:
      - docker/*
  script:
    - cd docker
    - ./build.sh $DOMJUDGE_VERSION
    - >
      for $IMG in "domserver" "judgehost" "default-judgehost-chroot"; do
        docker push domjudge/$IMG:$DOMJUDGE_VERSION
        if [ ! -z ${LATEST} ]; then
          docker push domjudge/$IMG:latest
        fi
      done

