include: '.release.yml'

image: docker:latest

stages:
  - test
  - release

variables:
  GITLABCI_VERSION:    "2.1"
  GITLABCI_IMAGE:      "gitlabci"
  CONTRIBUTOR_IMAGE:   "domjudge/domjudge-contributor"
  DOMJUDGE_VERSION:
    value:             "M.m.pp"
    description:       "The DOMjudge version, Change this variable to 7.3.3 to release the 7.3.3 dockers. The file should be available on the domjudge.org webserver."

# Docker Login steps
.release_template: &release_docker
  services:
    - docker:dind

.registry_template: &registry_gitlab
  <<: *release_docker
  stage: test
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.registry_template: &registry_dockerhub
  <<: *release_docker
  stage: release
  before_script:
    - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_ACCESS_TOKEN

.job_template: &job_check-pr
  stage: test
  services:
    - docker:dind
  except:
    - master

.job_template: &ci_template
  script:
    - cd docker-gitlabci
    - >
      if [[ -z $DOCKER_HUB_USERNAME ]]; then
        BASE=$CI_REGISTRY_IMAGE/$GITLABCI_IMAGE
      else
        BASE="domjudge/"$GITLABCI_IMAGE
      fi
    - sh ./build.sh $GITLABCI_VERSION $BASE
    - docker push $BASE:$GITLABCI_VERSION

.job_template: &major_template
  script:
    - cd docker
    - sh ./build.sh $DOMJUDGE_VERSION
    - >
      for IMG in domserver judgehost default-judgehost-chroot; do
        docker push domjudge/$IMG:$DOMJUDGE_VERSION
        if [ ! -z ${LATEST} ]; then
          docker push domjudge/$IMG:latest
        fi
      done

pr-ci:
  <<: *registry_gitlab
  <<: *ci_template
  only:
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/*
  except:
    - master

release-ci:
  <<: *registry_dockerhub
  <<: *ci_template
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-gitlabci/*

check-pr-contributor:
  <<: *job_check-pr
  only:
    changes:
      - .gitlab-ci.yml
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build .

release-contributor:
  <<: *registry_dockerhub
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build -t $CONTRIBUTOR_IMAGE .
    - docker push $CONTRIBUTOR_IMAGE

release-DOMjudge-manual:
  <<: *registry_dockerhub
  <<: *major_template
  when: manual
  only:
    - master

release-DOMjudge-newrelease:
  <<: *registry_dockerhub
  <<: *major_template
  rules:
    - if: '$TRIGGER_JOB == "docker"'

