name: 'Build domjudge container (PR)'

permissions:
  contents: read
  packages: write

on:
  merge_group:
  push:
    paths:
      - .github/workflows/build-domjudge-container-PR.yml
      - docker/**
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/build-domjudge-container-PR.yml
      - docker/**

env:
  DOMJUDGE_VERSION: M.m.p

jobs:
  pr-domjudge:
    # Stop processing if this is a merge-queue
    # Stop processing if this is not against our repo
    # Always run if this PR is not from our organization
    # Or run if this PR is not `main` (So notQueue && ourRepo && (notPROurOrg || notMain))
    if : ${{ !contains(github.ref, 'gh-readonly-queue') &&
             github.repository == 'domjudge/domjudge-packaging' &&
             !(github.event.pull_request.head.repo.full_name == 'domjudge/domjudge-packaging' && github.ref == 'main') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: docker system prune -a -f

      - name: Get an unique tag for when people PR often
        run: |
          GHR=${{ github.ref }}
          echo "PR_TAG=${GHR///}${{ github.actor }}" >> $GITHUB_ENV

      - name: If needed overwrite the DOMJUDGE_VERSION for this run
        run: |
          if [ ${{ env.DOMJUDGE_VERSION }} != "M.m.p" ]; then
            exit 0
          fi
          sudo apt-get update; sudo apt-get install -y jq curl
          set -x
            HUBURL="https://registry.hub.docker.com/v2/repositories/domjudge/domserver/tags"
            TAG=$(curl $HUBURL|jq '.results | sort_by(.name) | .[-2].name')
            DJ_TAG=${TAG//\"}
          set +x
          echo "DOMJUDGE_VERSION=$DJ_TAG" >> $GITHUB_ENV

      - name: Build the container
        run: |
          cd docker
          ./build.sh "${{ env.DOMJUDGE_VERSION }}"
          cd ../docker-chroot
          ./build.sh "${{ env.DOMJUDGE_VERSION }}"

      - name: Build and push
        run: |
          for IMG in domserver judgehost default-judgehost-chroot icpc-judgehost-chroot full-judgehost-chroot; do
            echo "::group::$IMG"
            IMAGE_NAME="${GITHUB_REPOSITORY_OWNER@L}/$IMG:${{ env.DOMJUDGE_VERSION }}"
            docker image tag "$IMAGE_NAME" ghcr.io/${GITHUB_REPOSITORY_OWNER@L}/$IMG:${{ env.PR_TAG }}
            docker image tag "$IMAGE_NAME" ${GITHUB_REPOSITORY_OWNER@L}/$IMG:${{ env.PR_TAG }}
            docker push ghcr.io/${GITHUB_REPOSITORY_OWNER@L}/$IMG:${{ env.PR_TAG }} || true
            echo "::endgroup::"
          done

      - run: docker image list

      - name: Check for wrong permisions
        run: |
          docker image list
          set -x
          for IMG in domserver judgehost; do
            files=$(docker run --rm --pull=never "domjudge/$IMG:${{ env.PR_TAG }}" find / -xdev -perm -o+w ! -type l ! \( -type d -a -perm -+t \) ! -type c)
            if [ -n "$files" ]; then
              echo "error: image domjudge/$IMG:${{ env.PR_TAG }} contains world-writable files:" >&2
              printf "%s\n" "$files" >&2
              exit 1
            fi
          done

      - name: Check the created domserver container
        run: |
          DOCKER_NETWORK=djn
          DOCKER_DB=dj-mariadb
          DOCKER_DOMSERVER=domserver
          MYSQL_ROOT_PASSWORD=rootpw # ggignore
          MYSQL_USER=domjudge
          MYSQL_PASSWORD=djpw        # ggignore
          MYSQL_DATABASE=domjudge
          DJ_DB_BARE=0
          set -xe
          # See README.md
          docker network create "$DOCKER_NETWORK"
          MYSQL_SETTINGS="-e MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD -e MYSQL_USER=$MYSQL_USER -e MYSQL_PASSWORD=$MYSQL_PASSWORD -e MYSQL_DATABASE=$MYSQL_DATABASE"
          # Start the database container
          docker run -d --name "$DOCKER_DB" --net "$DOCKER_NETWORK" $MYSQL_SETTINGS -p 13306:3306 mariadb                                                          --max-connections=1000 --max_allowed_packet=256M
          # Booting seems to take 10s, directly display the logs when they come in.
          timeout --preserve-status 15 docker logs -f "$DOCKER_DB" || true
          # Start the domserver container
          docker run -d --name "$DOCKER_DOMSERVER"  --net "$DOCKER_NETWORK" -e MYSQL_HOST="$DOCKER_DB" -e DJ_DB_INSTALL_BARE="$DJ_DB_BARE" $MYSQL_SETTINGS -p 12345:80 "ghcr.io/${GITHUB_REPOSITORY_OWNER@L}/domserver:${{ env.PR_TAG }}"
          # It seems we can't find the SQL server
          # Inspect the network
          docker network ls
          docker network inspect "$DOCKER_NETWORK"
          docker exec -t "$DOCKER_DB" getent hosts "$DOCKER_DOMSERVER"
          docker exec -t "$DOCKER_DOMSERVER" getent hosts "$DOCKER_DB"
          # Show that we see the port on the host
          ss -tulpn
          # Connect to SQL
          docker exec -t "$DOCKER_DB" mariadb -uroot -p"$MYSQL_ROOT_PASSWORD"                     -e "SHOW DATABASES;"
          docker exec -t "$DOCKER_DB" mariadb -uroot -p"$MYSQL_ROOT_PASSWORD" -D"$MYSQL_DATABASE" -e "SHOW TABLES;"
          docker exec -t "$DOCKER_DOMSERVER" mysqlshow -u"$MYSQL_USER" -p"$MYSQL_PASSWORD" -h"$DOCKER_DB" "$MYSQL_DATABASE"
          # Show we indeed waited 3*60 seconds for 10*10 seconds checks, which means this should just work...
          timeout --preserve-status 180 docker logs -f "$DOCKER_DOMSERVER" || true
          # Check if the default container comes up correctly
          curl http://localhost:12345/public
          # Gather passwords according to README.md
          PASS_ADMIN=$(docker exec domserver cat /opt/domjudge/domserver/etc/initial_admin_password.secret)
          # Currently gives [unknown]
          PASS_JUDGEHOST=$(docker exec domserver cat /opt/domjudge/domserver/etc/restapi.secret)
          if [ -z "$PASS_ADMIN" ] || [ -z "$PASS_JUDGEHOST" ]; then
            echo "Gathering passwords failed"
            exit 1
          fi
          PASS_ADMIN=$(docker exec domserver /opt/domjudge/domserver/webapp/bin/console --no-ansi domjudge:reset-user-password admin --no-ansi | sed 's/\\$//' | sed 's/[[:space:]]*$//' | grep admin |  grep -o '[^ ]*$')
          HTTP_CODE=$(curl -u "admin:${PASS_ADMIN}" -o /dev/null -s -w "%{http_code}\n" http://localhost:12345/api/user)
          if [ "$HTTP_CODE" -ne "200" ]; then
            echo "Failed authentication, reset failed or format changed"
          fi
          # Verify that we can restart services
          for service in php nginx; do
            docker exec domserver supervisorctl restart "$service"
          done
      - name: Collect docker logs on failure
        if: ${{ !cancelled() }}
        uses: jwalton/gh-docker-logs@v2
        with:
          dest: '/tmp/docker-logs'
      - name: Upload all logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Logs
          path: /tmp/docker-logs
