name: 'Shellcheck'

on:
  merge_group:
  push:
  pull_request:

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    if: ${{ !(github.repository == 'domjudge/domjudge-packaging' && github.ref_name == 'main') }}
    steps:
      - uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
